/* Define Atom One Dark theme colors */
:root {
  --background-color: #282c34;
  --text-color: #abb2bf;
  --header-color: #e06c75;
  --header2-color: #e1ef61;
  --header3-color: #61efad;
  --section-background: #292e38;
  --section-border: hsl(220, 15%, 23%);
  --section-border-hover: hsl(220, 15%, 40%);
  --title-color: #61afef;
  --dimmed-text-color: #7f848e;
  --article-background: #2c313c;
  --article-border: #3e4451;
  --code-background: #21252b;
  --link-color: #61afef;
  --home-link-color: #abb2bf;
  
  --toast-background: #44658b;
  --fba-background: #2c313c;
}

/* General Styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.posts-sections-title{
  margin-bottom: 10px;
  color: var(--dimmed-text-color);
  font-size: 0.8rem;
}

header{
    text-align: center;
}

header .blog-description{
  font-size: 0.8rem;
}

/* Header Styles */
h1 {
  font-size: 2.5rem;
  color: var(--header-color);
  text-align: center;
  margin: 20px 0;
}

.last_build_time {
  font-size: 0.8rem;
  color: var(--dimmed-text-color);
  text-align: center;
}

.blog-name {
  margin-top: 2rem;
}

.blog-name a{
  color: var(--header-color);
}

/* Section Styles */
section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

.post-summary {
  color: var(--text-color);
  margin-bottom: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: var(--section-background);
  border: 1px solid var(--section-border);
  border-radius: 8px;
  transition: all 0.1s;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.post-summary:hover {
  text-decoration: none;
  border: 1px solid var(--section-border-hover);
}

.post-summary .title {
  font-size: 1rem;
  margin-bottom: 2px;
  color: var(--title-color);
}

.post-summary .date {
  color: var(--dimmed-text-color);
}

.post {
  text-align: center;
  margin-bottom: 2rem;
}

/* Article Styles */
article {
  max-width: 800px;
  min-width: 300px;
  margin: 20px 20px;
  padding: 20px;
  background: var(--article-background);
  border: 1px solid var(--article-border);
  border-radius: 8px;
  text-align: start;
}

@media (max-width: 600px) {
  article {
    margin-left: 0;
    margin-right: 0;
  }
}

article h2 {
  color: var(--header2-color);
  margin-bottom: 10px;
  text-align: start;
}

article h3 {
  color: var(--header3-color);
  margin-bottom: 10px;
}

article p {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

/* Code Block Styles */
article pre {
  background-color: var(--code-background);
  color: var(--text-color);
  border-radius: 5px;
  border: 1px solid var(--article-border);
  overflow-x: auto;
}

article pre .language-label {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2px 10px;
}

.copy-markdown {
  background: none;
  color: var(--text-color);
  border: none;
  margin-top: 10px;
}


.article-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.floating-actions {
  position: fixed;
  right: 10px; 
  top: 20rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background: var(--article-background);
  border: 1px solid var(--article-border);
  border-radius:20rem;
  overflow: hidden;

}

.action-button {
  background: none;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* border-radius:20rem; */

}

.action-button:hover {
  background-color: var(--article-border);
}

.action-button span {
  font-size: 24px;
}



/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.home {
  color: var(--home-link-color);
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  margin: 2rem 0;
}

.home:hover {
  text-decoration: none;
}

hr {
  border: 1px solid var(--section-border);
  margin: 20px 0;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--toast-background);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}


footer p{
  color: var(--dimmed-text-color);
  font-size: 0.8rem;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 2rem;
}

.social-links .action-button{
  width: auto;
  height: auto;
  color: var(--link-color);
  font-size: 0.8rem;
}

.social-links .action-button:hover {
  background-color: transparent;
  
}

li{
  font-size: 0.9rem;
  list-style-type: circle;
  margin-left: 2rem;
}

code:not([class]) {
  background-color: var(--background-color);
  padding: 2px 6px;
  border-radius: 5px;
  font-weight: bold;
}
