<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:image" content="/img/about.png" />



  <meta name="description" content="I build things, break them, and sometimes post about it.">

  <!-- Facebook Meta Tags -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Malindu's Blog">
  <meta property="og:description" content="I build things, break them, and sometimes post about it.">
  <meta property="og:image" content="/img/about.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="/img/about.png">
  <meta property="twitter:domain" content="thisismalindu.com">
  <meta name="twitter:title" content="Malindu's Blog">
  <meta name="twitter:description" content="I build things, break them, and sometimes post about it.">
  <meta name="twitter:image" content="/img/about.png">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->



  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <title>Malindu's Blog</title>
  <link href="./style.css" rel="stylesheet">
  <link href="./reset.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
</head>

<body>
  <header>
    <h1 class="blog-name"><a href="https://thisismalindu.com">Malindu’s Blog</a></h1>
    <p class="blog-description">Undergrad @ <a href="https://cse.mrt.ac.lk/" class="underline">CSE,
        University of Moratuwa</a>.<br>I build things, break them, and sometimes post about it.</p>
    <p class="last_build_time">LAST_BUILD_TIME</p>
  </header>
  <section class="pinned-posts posts-sections">
    <p class="posts-sections-title">Pinned Posts</p>
    <div class="posts-section"><!-- PINNED_PLACEHOLDER --></div>
  </section>

  <section class="regular-posts posts-sections">
    <p class="posts-sections-title">All Posts</p>
    <div class="posts-section"><!-- POSTS_PLACEHOLDER --></div>
  </section>

  <footer>
    <p>
      Built with ✨ and occasional frustration. <br>
      Open source at <a href="https://github.com/thisismalindu/my-website-blog/" target="_blank">GitHub</a>. © Malindu
      Bandara.
    </p>

    <div class="social-links">

      <a href="https://thisismalindu.com/github" class="action-button" target="_blank" rel="noopener noreferrer">
        Github
      </a>
      <a href="https://thisismalindu.com/yt" class="action-button" target="_blank" rel="noopener noreferrer">
        YouTube
      </a>
      <a href="https://thisismalindu.com/ig" class="action-button" target="_blank" rel="noopener noreferrer">
        Instagram
      </a>
    </div>
  </footer>

</body>

</html>