<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog - Malindu</title>
  <link href="./style.css" rel="stylesheet">
  <link href="./reset.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">

</head>
<body>
  <h1 class="blog-name">Malindu’s Blog</h1>
  <section>
    <!-- POSTS_PLACEHOLDER -->
  </section>
</body>
</html>
