<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link href="./style.css" rel="stylesheet">
  <link href="./reset.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
</head>
<body>
  <a href="/" class="home">← back</a>

  <div class="post">
    <h1>{{title}}</h1>
    <p>By {{author}} — {{date}}</p>
    <article>
      {{content}}
    </article>
  </div>
</body>
</html>
